<%- include('inc/head') %>

<%- include('inc/menu') %>
<!-- <div class="jumbotron">
    <h1 class="display-4"><%= encabezado %></h1>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-header">
                    <h2>Delanteros</h2>
                </div>
                <div class="card-body">
                    <p>Ver listado de delanteros</p>
                </div>
                <div class="card-footer">
                    <a href="/forwards">Ver Tabla</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-header">
                    <h2>Midfielders</h2>
                </div>
                <div class="card-body">
                    <p>Ver listado de centrocampistas</p>
                </div>
                <div class="card-footer">
                    <a href="/midfielders">Ver Tabla</a>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('inc/footer') %>